@if (Session["TaiKhoan"] != null) // có ng đang đang nhập
{
    <div id="thanhnav" >
        <nav class="navbar navbar-default" role="navigation"  style="margin:0 0;" >
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand">Chúc @Session["UserName"] có một ngày vui vẻ ! </a>
                </div>
                <ul class="nav navbar-nav navbar-right" style="font-weight:bold;">
                    <li><a href="@Url.Action("Setting" ,"Login", new { id = (int)Session["ID"] })"><i class="fa fa-wrench" aria-hidden="true"></i> Cài đặt</a></li>
                    <li><a href="@Url.Action("History" ,"Login")"><i class="fa fa-history" aria-hidden="true"></i> Lịch sử mua hàng</a></li>
                    <li><a href="@Url.Action("LogOut" ,"Login")"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a></li>
                    
                </ul>
            </div>
        </nav>
       </div>
}
else
{
    <div id="thanhnav"style="margin-bottom:50px;">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand">Chào mừng bạn đến với Fresh!</a>
                </div>
                <ul class="nav navbar-nav navbar-right" style="font-weight:bold;">
                    <li><a href="~/HomeLayout/Register"><i class="fa fa-user-plus" aria-hidden="true"></i> Đăng kí </a></li>
                    <li><a href="~/HomeLayout/Login"><i class="fa fa-user-circle" aria-hidden="true"></i> Đăng nhập</a></li>
                </ul>
            </div>
        </nav>
        </div>
        }
