
@{
    ViewBag.Title = "Giới thiệu - Fresh Shop";
    Layout = "~/Views/Shared/IndexLaypout.cshtml";
}

<div id="feature1">
   
    <center><img src="~/Data/tt1.png" /></center>
    <center><img src="~/Data/banner.jpg" /></center>
    <div class="tieude1">Cung cấp dịch vụ tốt nhất</div>
    "Fresh là hệ thống cửa hàng thực phẩm sạch uy tín nhất ở Việt Nam, chuyên cung cấp thực phẩm sạch tới từng bếp ăn của gia đình bạn"
    <center><img src="~/Data/TIEUDE.png" /></center>
   
    <hr />
    <div class="container">
        <div class="col-md-4">
            <i class="fa fa-bullhorn" aria-hidden="true" style="font-size:35px;font-weight:bold"></i>
            <h3><b>Về chúng tôi</b></h3>
            <h4>"... Nơi tuyệt vời nhất để có được những giây phút vui và ý nghĩa bên người thân, nơi hoàn hảo nhất để ăn uống kết hợp học tập, làm việc và giải trí ..."</h4>
        </div>
        <div class="col-md-4">
            <i class="fa fa-envira" aria-hidden="true" style="font-size:35px;font-weight:bold"></i>
            <h3><b>Nguồn gốc sản phẩm</b></h3>
            <h4>100% sản phẩm mà Garden cung cấp đều cam kết có đầy đủ nguồn gốc, được nuôi trồng, chế biến theo phương Bio (sinh học), Organic (hữu cơ), Eco (sinh thái); cam kết không bán hàng giả, hàng nhái và hàng kém chất lượng.</h4>
        </div>
        <div class="col-md-4">

            <i class="fa fa-yelp" aria-hidden="true" style="font-size:35px;font-weight:bold"></i>
            <h3><b>Chất lượng sản phẩm</b></h3>
            <h4>Sản phẩm được giao đến tay khách hàng luôn đúng cam kết, đúng chất lượng niệm yết, luôn được bảo quản trong môi trường lý tưởng, đảm bảo vệ sinh an toàn thực phẩm.</h4>
        </div>
    </div>
    <center><img src="~/Data/tt1.png" /></center>
    </div>


