
@using WebAPP.Models;
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/IndexLaypout.cshtml";
}

    <div class="chitietsanpham">
        <center><img src="~/Data/tt1.png" /></center>
        <div class="tieude1" style="color:yellowgreen;">Địa chỉ liên hệ</div>
        <center><img src="~/Data/TIEUDE.png" /></center>

        <hr />
        <div class="container">
            <div style="color:yellowgreen;font-size:25px;text-align:center;"><i class="fa fa-phone-square" aria-hidden="true"></i> SỐ ĐIỆN THOẠI:    0948726712</div>
            <div style="color:yellowgreen;font-size:25px;text-align:center;"><i class="fa fa-envelope" aria-hidden="true"></i> EMAIL:    pinosociu@gmail.com</div>
            <hr />
            <div class="col-md-5 col-lg-push-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.5181013957144!2d106.78493111429758!3d10.848142660833444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752772b245dff1%3A0xb838977f3d419d!2zSOG7jWMgVmnhu4duIEPDtG5nIE5naOG7hyBCxrB1IENow61uaCBWaeG7hW4gVGjDtG5nIEPGoSBT4bufIDI!5e0!3m2!1svi!2s!4v1495897187134" width="650" height="200"></iframe>
            </div>

          


            </div>

        <center><img src="~/Data/tt1.png" /></center>
        </div>
  
