
@{
    ViewBag.Title = "XacNhanDonHang";
        Layout = "~/Views/Shared/IndexLaypout.cshtml";
    
}

<div class="chitietsanpham">
    <center><img src="~/Data/tt1.png" /></center>
    <div class="col-lg-8 col-lg-push-2" style="color:forestgreen;text-align:center">
        <h2>
            Đơn hàng của quý khách đã được  ghi nhận. Chúng tôi sẽ sớm liên hệ với quý
            khách để giao hàng sớm nhất có thể
        </h2>
    </div>
    <br/>
    <center><img src="~/Data/banner.jpg" /></center>
</div>

